.Label {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: rgba(0, 0, 0, 0.78);
    color: rgb(255, 255, 255);
    white-space: normal;
}

.spacing {
    background-size: 100% 100%;
    height: 60%;
    align-items: auto;
}
